html, body, h1 {
    padding: 0;
    margin: 0;
}

body {
    background-color: #131313;
    color: #fff;
    font-size: 14px;
    font-family: Arial, Verdana, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
    overflow: hidden;
    margin: 0;
}

a { color: #fff; text-decoration: none; }
a:hover { color: #aaa; text-decoration: none; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }


header {
    padding: 0;
    background-color: #111;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .6);
}
    header nav {
        padding: 0;
        display: block;
    }
    header h1 {
    }
    header ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: block;
    }
        header ul li {
            display: inline-block;
            list-style: none;
        }
    header:hover {
    }

    header ul.global {
        float: left;
    }
    header ul.submenu {
        float: right;
    }


section {
    padding: 1em;
}
    section aside {
        margin-bottom: 1em;
    }
    section article {
        height: 300px;
        overflow: auto;
    }
	section article a {
	    display: block;
	    padding: .3em;
	    border-bottom: 1px solid #222;
	}
	section article a:hover {
        color: #fff;
        position: relative;
        top: 1px;
        background-color: #080;
	}


/* -- TEXTAREA -- */
section .fixed-width {
    display: block;
    margin: 0 auto;
    font-size: 130%;
    background-color: transparent;
    border: 1px solid transparent;
    color: #d1d1d1;
    height: 300px;
    overflow: auto;
}
#paper {
    font-family: 'MS Gothic', monospace; /* |Inconsolata| */
    outline: none;
    resize: none;
}
    #paper:hover {
    }

#choicer {}
    #choicer ul li a.delete {
        margin-left: .5em;
        padding: .125em .25em;
        display: inline-block;
        font-size: 50%;
        border-radius: .5em;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }
        #choicer ul li a.delete:hover {
            background-color: #f00;
            color: #fff;
        }

#helper {}
    #helper table {
        border-spacing: 1px;
    }
    #helper table thead tr th {
        padding: .25em;
    }
    #helper table tbody tr td {
        padding: .5em;
    }


/* -- SCROLLBAR -- */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
}
::-webkit-scrollbar-track-piece{
    background-color: transparent;
}
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #333;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #000;
}


/* -- FUNCTION BUTTON -- */
.function-button,
.function-button:visited {
    border: 0;
    background-color: #111;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: .2em .5em;
    margin: 0;
    font-size: 80%;
    display: inline-block;
}
    .function-button:hover {
        background-color: #131313;
        color: #fff;
        text-decoration: none;
    }
    .function-button:active {
        background-color: #000;
        color: #fff;
        text-decoration: none;
    }


