html, body, h1 {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-family: Arial, Verdana, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
    overflow: hidden;
    margin: 0;
}

a { color: #fff; text-decoration: none; }
a:hover { color: #aaa; text-decoration: none; }


header {
    padding: 0;
}
    header nav {
        padding: 0;
        display: block;
    }
    header h1 {
    }
    header ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: block;
    }
        header ul li {
            display: inline-block;
            list-style: none;
        }
    header:hover {
        background-color: #111;
    }


section {
    padding: 1em;
}
    section aside {
        margin-bottom: 1em;
    }
    section article {
        height: 300px;
        overflow: auto;
    }
	section article a {
	    display: block;
	    padding: .3em;
	    border-bottom: 1px solid #222;
	}
	section article a:hover {
        color: #fff;
        position: relative;
        top: 1px;
        background-color: #080;
	}


/* -- TEXTAREA -- */
section .fixed-width {
    display: block;
    margin: 0 auto;
    font-size: 130%;
    background-color: #000;
    color: #d1d1d1;
    border: none;
    height: 300px;
    overflow: auto;
}
#paper {
    font-family: 'MS Gothic', monospace; /* |Inconsolata| */
    outline: none;
    resize: none;
}


/* -- SCROLLBAR -- */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
}
::-webkit-scrollbar-track-piece{
    background-color: transparent;
}
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #333;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #000;
}


/* -- FUNCTION BUTTON -- */
.function-button,
.function-button:visited {
    border: 0;
    background-color: #000;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: .2em .5em;
    font-size: 80%;
    display: inline-block;
}
    .function-button:hover {
        background-color: #222;
        color: #fff;
        text-decoration: none;
    }
    .function-button:active {
        background-color: #111;
        color: #fff;
        text-decoration: none;
    }


